.App {
  background-color: #eaeaec;
  margin: 20px 30px;
  padding: 0 20px 20px 20px;
  
  border-radius: 30px;
}
.create-list-area{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 20%;
  margin-left: auto ;
  
}
.create-list-btn{
  margin-top: 5px;
  padding: 15px 22px;
  
  border: 2px solid #ada1c4;
  border-radius: 50%;
  color: #ada1c4;
  cursor: pointer;
  
}
.create-list-btn:hover{
  background-color: #ada1c4;
  color: #fff;
}
.create-list-area h4{
  color: #c0bacd;
}

@media screen and (max-width: 700px) {
  .create-list-area{
    width: 40%;
   
  } 
  .create-list-btn{
    padding: 7px 15px;
    
    border: 1px solid #ada1c4;
    
    
  }
}
@media screen and (max-width: 550px) {
  .App {
    background-color: #eaeaec;
    margin: 10px 5px;
    padding: 0 5px 5px 10px;
    
    border-radius: 15px;
  }
  .create-list-area{
    width: 40%;
    margin-right: 20px;
    gap: 10px;
   
  } 
 
}
